---
import Nav from "../partials/nav.astro"
import DmForWorkForm from "../partials/dm-for-work-form.astro"
import Button from "../components/button.astro"
import Github from "../icons/github.astro"
import Linkedin from "../icons/linkedin.astro"
import ArrowDown from "../icons/arrow-down.astro"
import X from "../icons/x.astro"
import RocketLaunch from "../icons/rocket-launch.astro"
import LightningBolt from "../icons/lightning-bolt.astro"
import Flame from "../icons/flame.astro"
import DownLoad from "../icons/download.astro"
import AstroBuild from "../icons/astro.astro"
import TailWindCSS from "../icons/tailwindcss.astro"
import Alpinejs from "../icons/alpinejs.astro"
---
<style lang="scss" is:global>

:root {
	scroll-behavior: smooth;

    --white-light: #FEFAE0;
    --white-dark: #eae6cf;
    --black-light: #475f2b;
    --black-dark: #283618;
    --black-dim: rgb(40, 54, 24, 0.8);
    --green: #63c498;
    --red: #ff5e32;
    --yellow: #FFC801;
    --blue-light: #0198ef;
    --blue-dark: #5748AE;
    --blue-dim: rgba(87, 72, 174, 0.8);
	--gray-light: #bcbcbf;
}

/* Fonts */
.font-mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background: var(--black-light);
  border-radius: 0rem;
}
body::-webkit-scrollbar-track {
  background-color: var(--white-light);
  border: 0.1rem solid #ccc;
}
body::-webkit-scrollbar-button {
  background-color: var(--black-dark);
  border-radius: 0rem;
}
body::-webkit-scrollbar-button:hover {
	background: var(--black-dark);
}
body::-webkit-scrollbar-thumb:hover {
	background: var(--black-dark);
}
@supports not selector(::-webkit-scrollbar) {

	* {
		scrollbar-width: auto;
		scrollbar-color: var(--white-light) var(--black-dark);
		scrollbar-gutter: stable both-edges;
	}
}

</style>

<script>
	const htmlTag = document.documentElement
	htmlTag.lang = 'en'
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Andrew Saeed - Enthusiast Web Developer</title>
		<meta name="description" content="Portfolio of Andrew Saeed, an Enthusiast Web Developer. View projects and contact information.">
		<meta property="og:title" content="Andrew Saeed - Enthusiast Web Developer Portfolio">
		<meta property="og:description" content="View the work and projects of Andrew Saeed, an Enthusiast Web Developer.">
		<meta property="og:image" content="https://andrewsaeed.dev/me.png">
		<meta property="og:url" content="https://andrewsaeed.dev">
		<meta property="og:type" content="website">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white-light text-base text-black-dark font-mulish">

		<Nav />

		<main>

			<div id="home-layout" class="relative h-svh p-2">

				<section id="top-main" class="h-full flex flex-col justify-center items-center">

					<div class="grid md:grid-cols-[1fr_1fr]">

						<div class="justify-self-center">
							<p class="w-[9.375rem] h-[9.375rem] border-2 border-black-dark rounded-full overflow-hidden shadow-base">
								<img 
									class="h-full"
									src="/me_146.webp"
									srcset="me_146.webp,
									me_221.webp 2x"
									alt="test" />
							</p>
			
							<ul class="flex justify-center mt-4 [&_li]:p-1">
								<li>
									<Button ele="link" href="https://x.com/andrewsaeed95" style="primary-icon" size="small-icon" target="_blank" ariaLabel="X"><X /></Button>
								</li>
								<li>
									<Button ele="link" href="https://www.linkedin.com/in/andrew-saeed-756748309/" style="primary-icon" size="small-icon" target="_blank" ariaLabel="Linkedin"><Linkedin /></Button>
								</li>
								<li>
									<Button ele="link" href="https://www.github.com/andrew-saeed/" style="primary-icon" size="small-icon" target="_blank" ariaLabel="Github"><Github /></Button>
								</li>
							</ul>
						</div>

						<div>
							<h1 class="flex flex-col mt-8 md:mt-0">
								<span class="text-large-2 font-bold">Hi :)</span>
								<span class="text-base-2 text-black-dark font-medium capitalize pl-4 pt-2">i'm andrew saeed, <br /> enthusiast Web Developer.</span>
							</h1>
						</div>
					</div>

					<div class="mt-16 animate-bounce">
						<Button ele="link" href="#me" style="outline-icon" size="large-icon" ariaLabel="about me"><ArrowDown /></Button>
					</div>

				</section>

				<section id="me" class="h-full flex flex-col justify-center items-center pt-14">

					<ul class="max-w-screen-md mx-auto space-y-4">

						<li class="flex justify-start gap-4">
							<div class="[&_svg]:w-[2rem] [&_svg]:h-[2rem] [&_svg_path]:fill-black-light">
								<RocketLaunch />
							</div>
							<div>
								<p class="text-base-2 text-black-light font-black capitalize">
									aspiring web developer
								</p>
								<p>
									with a strong foundation in HTML, CSS, and JavaScript.
								</p>
							</div>
						</li>
						<li class="flex justify-start gap-4">
							<div class="[&_svg]:w-[2rem] [&_svg]:h-[2rem] [&_svg_path]:fill-black-light">
								<Flame />
							</div>
							<div>
								<p class="text-base-2 text-black-light font-black capitalize">
									passionate
								</p>
								<p>
									about learning new technologies and staying updated on the latest trends in web development.
								</p>
							</div>
						</li>
						<li class="flex justify-start gap-4">
							<div class="[&_svg]:w-[2rem] [&_svg]:h-[2rem] [&_svg_path]:fill-black-light">
								<LightningBolt />
							</div>
							<div>
								<p class="text-base-2 text-black-light font-black capitalize">
									eager to leverage skills
								</p>
								<p>
									in modern web developing tools to build engaging and user-friendly web applications.
								</p>
							</div>
						</li>
					</ul>

					<div class="mt-8 md:mt-14">
						<Button ele="link" href="/resume.pdf" target="_blank" style="primary-icon-text" size="large-icon-text">
							<span class="icon">
								<DownLoad slot="icon" />
							</span>
							<span class="text" slot="text">download Resume</span>
						</Button>
					</div>
				</section>

				<section id="web-stack" class="h-full flex flex-col justify-center items-center">
					
					<ul>
						<li>
							<a 
								class="inline-block w-full h-full
								p-4 border-4 border-black-light rounded-full 
								[&_svg_path]:fill-black-light
								hover:bg-white-dark
								transition duration-300 ease-out shadow-base" 
								href="https://astro.build/" 
								target="_blank"
								aria-label="astro build"
							>
								<AstroBuild />
							</a>
						</li>
						<li>
							<a 
								class="inline-block w-full h-full
								p-4 border-4 border-black-light rounded-full 
								[&_svg_path]:fill-black-light
								hover:bg-white-dark
								transition duration-300 ease-out shadow-base" 
								href="https://tailwindcss.com/"
								target="_blank"
								aria-label="tailwind css"
							>
								<TailWindCSS />
							</a>
						</li>
						<li>
							<a 
								class="inline-block w-full h-full
								p-4 border-4 border-black-light rounded-full 
								[&_svg_path]:fill-black-light
								hover:bg-white-dark
								transition duration-300 ease-out shadow-base" 
								href="https://alpinejs.dev/" 
								target="_blank"
								aria-label="alpinejs"
							>
								<Alpinejs />
							</a>
						</li>
					</ul>
				</section>

				<section id="work" class="h-full flex flex-col justify-center items-center">
					
					<div class="text-center text-black-light">
						
						<p class="text-medium-1 font-bold capitalize">
							working on my portfolio
						</p>

						<a 
							class="inline-block px-4 mt-4 border-4 border-black-dark rounded-full hover:bg-white-dark"
							href="https://github.com/andrew-saeed/portfolio"
							aria-label="source-code"
						>
							<div class="text-base-1 text-black-dark font-black flex items-center">
								{`<Source-Code `} 
								<span class="inline-block px-2 w-[3rem] h-[3rem] [&_svg_path]:fill-black-dark">
									<Github />
								</span>
								{`/>`}
							</div>
						</a>
					</div>
				</section>

				<section id="dm" class="h-full flex flex-col justify-center items-center">
					
					<DmForWorkForm />
				</section>

				<footer class="py-2 -mt-12 -mx-2 bg-white-dark">

					<div class="flex justify-center text-black-light font-black space-x-2">
						<span class="leading-loose">Source Code at</span> 
						<Button ele="link" href="https://www.github.com/andrew-saeed/portfolio" style="primary-icon" size="small-icon" target="_blank" ariaLabel="Github"><Github /></Button>
						<span class="leading-loose">- MIT</span> 
					</div>
				</footer>

			</div>

		</main>
	</body>
</html>
