---
import Button from "../components/button.astro"
import Github from "../icons/github.astro"
import Linkedin from "../icons/linkedin.astro"
import ArrowDown from "../icons/arrow-down.astro"
import Gear from "../icons/gear.astro"
import X from "../icons/x.astro"
---
<style lang="scss" is:global>

:root {
	scroll-behavior: smooth;

    --white: #FEFAE0;
    --black-light: #475f2b;
    --black-dark: #283618;
    --black-dim: rgb(40, 54, 24, 0.8);
    --green: #63c498;
    --red: #ff5e32;
    --yellow: #FFC801;
    --blue-light: #0198ef;
    --blue-dark: #5748AE;
    --blue-dim: rgba(87, 72, 174, 0.8);
}

/**
* Fonts
*/
.font-mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background: var(--black-light);
  border-radius: 0rem;
}
body::-webkit-scrollbar-track {
  background-color: var(--white);
  border: 0.1rem solid #ccc;
}
body::-webkit-scrollbar-button {
  background-color: var(--black-dark);
  border-radius: 0rem;
}
body::-webkit-scrollbar-button:hover {
	background: var(--black-dark);
}
body::-webkit-scrollbar-thumb:hover {
	background: var(--black-dark);
}
@supports not selector(::-webkit-scrollbar) {

	* {
		scrollbar-width: auto;
		scrollbar-color: var(--white) var(--black-dark);
		scrollbar-gutter: stable both-edges;
	}
}

</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Andrew Saeed - Enthusiast Web Developer</title>
		<meta name="description" content="Portfolio of Andrew Saeed, an Enthusiast Web Developer. View projects and contact information.">
		<meta property="og:title" content="Andrew Saeed - Enthusiast Web Developer Portfolio">
		<meta property="og:description" content="View the work and projects of Andrew Saeed, an Enthusiast Web Developer.">
		<meta property="og:image" content="https://andrew-saeed.dev/me.png">
		<meta property="og:url" content="https://andrew-saeed.dev">
		<meta property="og:type" content="website">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white text-base text-black-dark font-mulish">

		<main>

			<div id="home-layout" class="h-svh p-2">

				<section id="top-main" class="h-full flex flex-col justify-center items-center">

					<div class="grid md:grid-cols-[1fr_1fr]">

						<div class="justify-self-center">
							<p class="max-w-[9.375rem] max-h-[9.375rem] border-2 border-black-dark rounded-full overflow-hidden shadow-base">
								<img src="/me.png" alt="andrew saeed" />
							</p>
			
							<ul class="flex justify-center mt-4 [&_li]:p-1">
								<li>
									<Button type="link" href="https://x.com/andrewsaeed95" style="icon" size="small"><X /></Button>
								</li>
								<li>
									<Button type="link" href="https://www.linkedin.com/in/andrew-saeed-756748309/" style="icon" size="small"><Linkedin /></Button>
								</li>
								<li>
									<Button type="link" href="https://www.github.com/andrew-saeed/" style="icon" size="small"><Github /></Button>
								</li>
							</ul>
						</div>

						<div>
							<h1 class="flex flex-col mt-8 md:mt-0">
								<span class="text-large-2 font-bold">Hi :)</span>
								<span class="text-base-2 text-black-dark font-medium capitalize pl-4 pt-2">i'm andrew saeed, <br /> enthusiast Web Developer.</span>
							</h1>
						</div>
					</div>

					<div class="mt-16 animate-bounce">
						<Button type="link" href="#under-construction" style="icon" size="large" colors="outline"><ArrowDown /></Button>
					</div>

				</section>

				<section id="under-construction" class="h-full flex flex-col justify-center items-center">
					
					<div class="flex items-center">
						<p class="w-[40px] h-[40px] mr-2 [&_svg_path]:fill-black-light animate-spin"><Gear /></p>
						<p class="text-base-2 text-black-light font-bold capitalize">under construction ...</p>
					</div>
				</section>

			</div>

		</main>
	</body>
</html>
