---
import Base from "../layouts/base.astro"

import Nav from "../partials/nav.astro"
import DmForWorkForm from "../partials/dm-for-work-form.astro"

import NotificationModal from "../theme/notification-modal.astro"
import Button from "../theme/button.astro"

import DevTo from "../icons/devTo.astro"
import Github from "../icons/github.astro"
import Linkedin from "../icons/linkedin.astro"
import ArrowDown from "../icons/arrow-down.astro"
import X from "../icons/x.astro"
import RocketLaunch from "../icons/rocket-launch.astro"
import LightningBolt from "../icons/lightning-bolt.astro"
import Flame from "../icons/flame.astro"
import DownLoad from "../icons/download.astro"
import AstroBuild from "../icons/astro.astro"
import TailWindCSS from "../icons/tailwindcss.astro"
import Alpinejs from "../icons/alpinejs.astro"
import Gear from "../icons/gear.astro"
import OrangeSlice from "../icons/orange-slice.astro"
import ViewLink from "../icons/viewLink.astro"
---
<script src="/src/lib/index.ts"></script>
<Base>

	<title>Andrew Saeed - Enthusiastic Web Developer</title>
	<meta name="description" content="Portfolio of Andrew Saeed, an Enthusiastic Web Developer. View projects and contact information.">
	<meta property="og:title" content="Andrew Saeed - Enthusiastic Web Developer Portfolio">
	<meta property="og:description" content="View the work and projects of Andrew Saeed, an Enthusiastic Web Developer.">
	<meta property="og:image" content="https://andrewsaeed.dev/me.png">
	<meta property="og:url" content="https://andrewsaeed.dev">
	<meta property="og:type" content="website">
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<Nav slot="nav" />

	<main slot="main">

		<div id="home-layout" class="relative p-2">

			<section id="top-main" class="h-svh flex flex-col justify-center items-center">

				<div class="grid md:grid-cols-[1fr_1fr]">

					<div class="flex flex-col items-center">
						<p class="w-[9.375rem] h-[9.375rem] border-2 border-black-dark rounded-full overflow-hidden shadow-base">
							<img 
								class="h-full"
								src="/me_146.webp"
								srcset="me_146.webp,
								me_221.webp 2x"
								alt="test" />
						</p>
		
						<ul class="flex justify-center mt-4 [&_li]:p-1">
							<li>
								<Button ele="link" href="https://x.com/andrewsaeed95" style="primary-icon" size="small-icon" target="_blank" ariaLabel="X"><X /></Button>
							</li>
							<li>
								<Button ele="link" href="https://www.linkedin.com/in/andrew-saeed-756748309/" style="primary-icon" size="small-icon" target="_blank" ariaLabel="Linkedin"><Linkedin /></Button>
							</li>
							<li>
								<Button ele="link" href="https://www.github.com/andrew-saeed/" style="primary-icon" size="small-icon" target="_blank" ariaLabel="Github"><Github /></Button>
							</li>
							<li>
								<Button ele="link" href="https://dev.to/andrew-saeed" style="primary-icon" size="small-icon" target="_blank" ariaLabel="dev.to"><DevTo /></Button>
							</li>
						</ul>
					</div>

					<div>
						<h1 class="flex flex-col mt-8 md:mt-0">
							<span class="text-xlarge font-bold">Hi :)</span>
							<span class="text-base-2 text-black-dark font-medium capitalize pl-4 pt-2">i'm andrew saeed, <br /> Enthusiastic Web Developer.</span>
						</h1>
					</div>
				</div>

				<div class="mt-16 animate-bounce">
					<Button ele="link" href="#me" style="outline-icon" size="large-icon" ariaLabel="about me"><ArrowDown /></Button>
				</div>

			</section>

			<section id="me" class="flex flex-col justify-center items-center overflow-hidden py-24">

				<ul class="max-w-screen-md mx-auto space-y-4">

					<li id="aspiring-web-developer" class="flex justify-start gap-4">
						<div class="[&_svg]:w-[2rem] [&_svg]:h-[2rem] [&_svg_path]:fill-black-light">
							<RocketLaunch />
						</div>
						<div>
							<p class="text-base-2 text-black-light font-black capitalize">
								aspiring web developer
							</p>
							<p>
								with a strong foundation in HTML, CSS, and JavaScript.
							</p>
						</div>
					</li>
					<li id="passionate" class="flex justify-start gap-4">
						<div class="[&_svg]:w-[2rem] [&_svg]:h-[2rem] [&_svg_path]:fill-black-light">
							<Flame />
						</div>
						<div>
							<p class="text-base-2 text-black-light font-black capitalize">
								passionate
							</p>
							<p>
								about learning new technologies and staying updated on the latest trends in web development.
							</p>
						</div>
					</li>
					<li id="eager-to-leverage-skills" class="flex justify-start gap-4">
						<div class="[&_svg]:w-[2rem] [&_svg]:h-[2rem] [&_svg_path]:fill-black-light">
							<LightningBolt />
						</div>
						<div>
							<p class="text-base-2 text-black-light font-black capitalize">
								eager to leverage skills
							</p>
							<p>
								in modern web developing tools to build engaging and user-friendly web applications.
							</p>
						</div>
					</li>
				</ul>

				<div id="download-resume" class="mt-8 md:mt-14">
					<Button ele="link" href="/resume.pdf" target="_blank" style="primary-icon-text" size="large-icon-text">
						<span class="icon">
							<DownLoad slot="icon" />
						</span>
						<span class="text" slot="text">download Resume</span>
					</Button>
				</div>
			</section>

			<section id="web-stack" class="bg-[linear-gradient(0deg,_rgba(254,250,224,1)_0%,_rgba(234,230,207,1)_15%,_rgba(236,232,208,1)_85%,_rgba(254,250,224,1)_100%)] flex flex-col justify-center items-center -mx-2 pt-36 pb-24 overflow-hidden">
				
				<div class="relative">

					<div id="orange-slice" class="absolute top-[-20%] left-[-5%] w-[120px] h-[120px] rotate-180 [&_svg_path]:fill-black-light">
						<OrangeSlice />
					</div>

					<div id="chalimo" class="absolute bottom-[-20%] right-[40%] w-[20px] h-[500px] bg-black-light border-2 border-white-light rounded-full rotate-45"></div>

					<ul>
						<li id="astrobuild">
							<a 
								class="inline-block w-full h-full bg-white-light
								p-4 border-4 border-black-light rounded-full 
								[&_svg_path]:fill-black-light
								hover:bg-white-dark
								transition duration-300 ease-out shadow-base" 
								href="https://astro.build/" 
								target="_blank"
								aria-label="astro build"
							>
								<AstroBuild />
							</a>
						</li>
						<li id="tailwindcss">
							<a 
								class="inline-block w-full h-full bg-white-light
								p-4 border-4 border-black-light rounded-full 
								[&_svg_path]:fill-black-light
								hover:bg-white-dark
								transition duration-300 ease-out shadow-base" 
								href="https://tailwindcss.com/"
								target="_blank"
								aria-label="tailwind css"
							>
								<TailWindCSS />
							</a>
						</li>
						<li id="alpinejs">
							<a 
								class="inline-block w-full h-full bg-white-light
								p-4 border-4 border-black-light rounded-full 
								[&_svg_path]:fill-black-light
								hover:bg-white-dark
								transition duration-300 ease-out shadow-base" 
								href="https://alpinejs.dev/" 
								target="_blank"
								aria-label="alpinejs"
							>
								<Alpinejs />
							</a>
						</li>
					</ul>
				</div>

			</section>

			<section id="work" class="relative flex flex-col justify-center items-center pt-40 overflow-hidden">

				<ul class="absolute top-[5rem] left-1/2 -translate-x-1/2 grid grid-cols-3 opacity-40">
					<li class="w-[2.5rem] h-[2.5rem] justify-self-end -mr-3">
						<div class="origin-center scale-x-[-1]">
							<div class="animate-spin">
								<Gear />
							</div>
						</div>
					</li>
					<li class="w-[4rem] h-[4rem] justify-self-center">
						<div class="animate-spin">
							<Gear />
						</div>
					</li>
					<li class="w-[2.5rem] h-[2.5rem] justify-self-start self-end -ml-3">
						<div class="origin-center scale-x-[-1]">
							<div class="animate-spin">
								<Gear />
							</div>
						</div>
					</li>
				</ul>
				
				<div class="w-full max-w-screen-lg mx-auto space-y-12">

					<div id="work-projects">
						<h2 class="sub-title relative text-large text-black-light font-black capitalize mb-4">projects</h2>

						<ul class="samples-list relative grid gap-4 grid-cols-[repeat(auto-fit,minmax(13.75rem,14rem))]">
							<li class="grid gap-4 p-2 border-4 border-black-dark rounded-lg shadow-base">
								<h3 class="text-base-1 font-black capitalize tracking-wider">my portfolio</h3>

								<p class="-mx-2">
									<img src="/portfolio.webp" alt="portfolio">
								</p>

								<div class="flex justify-end items-end space-x-2">
									<Button ele="link" href="https://github.com/portfolio" style="primary-icon" size="small-icon" target="_blank" ariaLabel="portfolio source code"><Github /></Button>
								</div>
							</li>
							<li class="grid gap-4 p-2 border-4 border-black-dark rounded-lg shadow-base">
								<h3 class="text-base-1 font-black capitalize tracking-wider">images sniper chrome extension</h3>

								<p class="-mx-2">
									<img src="/images-sniper.webp" alt="images sniper">
								</p>

								<div class="flex justify-end items-end space-x-2">
									<Button ele="link" href="https://chromewebstore.google.com/detail/images-sniper/npnednigbhjjgbaflkcjjmfbfnmifjep" style="primary-icon" size="small-icon" target="_blank" ariaLabel="images sniper chrome extension"><ViewLink /></Button>
									<Button ele="link" href="https://github.com/andrew-saeed/images-sniper-chrome-extension" style="primary-icon" size="small-icon" target="_blank" ariaLabel="images sniper chrome extension source code"><Github /></Button>
								</div>
							</li>
						</ul>
					</div>

					<div id="work-templates">
						<h2 class="sub-title relative text-large text-black-light font-black capitalize mb-4">Templates</h2>

						<ul class="samples-list relative grid gap-4 grid-cols-[repeat(auto-fit,minmax(13.75rem,14rem))]">
							<li class="grid gap-4 p-2 border-4 border-black-dark rounded-lg shadow-base">
								<h3 class="text-base-1 font-black capitalize tracking-wider">animated tiles</h3>

								<p class="-mx-2">
									<img class="w-full" src="/template-animated-tiles.webp" alt="portfolio">
								</p>

								<div class="flex justify-end items-end space-x-2">
									<Button ele="link" href="/templates/animated-columns-of-tiles" style="primary-icon" size="small-icon" target="_blank" ariaLabel="animated tiles live demo"><ViewLink /></Button>
									<Button ele="link" href="https://github.com/andrew-saeed/portfolio/blob/main/src/pages/templates/animated-columns-of-tiles.astro" style="primary-icon" size="small-icon" target="_blank" ariaLabel="animated tiles source code"><Github /></Button>
								</div>
							</li>
							<li class="grid gap-4 p-2 border-4 border-black-dark rounded-lg shadow-base">
								<h3 class="text-base-1 font-black capitalize tracking-wider">shopping cart</h3>

								<p class="-mx-2">
									<img class="w-full" src="/template-shopping-cart.webp" alt="portfolio">
								</p>

								<div class="flex justify-end items-end space-x-2">
									<Button ele="link" href="/templates/shopping-cart" style="primary-icon" size="small-icon" target="_blank" ariaLabel="shopping cart live demo"><ViewLink /></Button>
									<Button ele="link" href="https://github.com/andrew-saeed/portfolio/blob/main/src/pages/templates/shopping-cart.astro" style="primary-icon" size="small-icon" target="_blank" ariaLabel="shopping cart source code"><Github /></Button>
								</div>
							</li>
							<li class="grid gap-4 p-2 border-4 border-black-dark rounded-lg shadow-base">
								<h3 class="text-base-1 font-black capitalize tracking-wider">scroll based animations</h3>

								<p class="-mx-2">
									<img class="w-full" src="/template-scroll-based-animations.webp" alt="scroll based animations">
								</p>

								<div class="flex justify-end items-end space-x-2">
									<Button ele="link" href="/templates/scroll-based-animations" style="primary-icon" size="small-icon" target="_blank" ariaLabel="scroll based animations live demo"><ViewLink /></Button>
									<Button ele="link" href="https://github.com/andrew-saeed/portfolio/blob/main/src/pages/templates/scroll-based-animations.astro" style="primary-icon" size="small-icon" target="_blank" ariaLabel="scroll based animations source code"><Github /></Button>
								</div>
							</li>
							<li class="grid gap-4 p-2 border-4 border-black-dark rounded-lg shadow-base">
								<h3 class="text-base-1 font-black capitalize tracking-wider">cosmic-dust blog web template</h3>

								<p class="-mx-2">
									<img class="w-full" src="/template-cosmic-dust.webp" alt="cosmic dust blog web template">
								</p>

								<div class="flex justify-end items-end space-x-2">
									<Button ele="link" href="https://cosmic-dust-blog-web-template.netlify.app/" style="primary-icon" size="small-icon" target="_blank" ariaLabel="cosmic-dust blog web template live demo"><ViewLink /></Button>
									<Button ele="link" href="https://github.com/andrew-saeed/cosmic-dust-blog-web-template" style="primary-icon" size="small-icon" target="_blank" ariaLabel="cosmic-dust blog web template source code"><Github /></Button>
								</div>
							</li>
						</ul>
					</div>

					<div class="flex justify-center !mt-24">
						<a href='https://ko-fi.com/I2I610RQ2U' target='_blank'><img height='68' style='border:0px;height:68px;' src='https://storage.ko-fi.com/cdn/kofi3.png?v=3' alt='Buy Me a Coffee at ko-fi.com' /></a>
					</div>

				</div>
			</section>

			<section id="dm" class="bg-[linear-gradient(180deg,_rgba(254,250,224,1)_0%,_rgba(234,230,207,1)_50%)] flex flex-col justify-center items-center -mx-2 pt-32 pb-32">
				
				<div class="w-full max-w-screen-md mx-auto px-2">
					<h2 class="text-large text-black-light font-black first-letter:capitalize mb-8">work with me :)</h2>

					<DmForWorkForm />
				</div>
			</section>

			<footer class="bg-white-dark border-y-2 border-white-light py-2 -mt-12 -mb-2 -mx-2">

				<div class="flex justify-center text-black-light font-black space-x-2">
					<span class="leading-loose capitalize">with love</span> 
					<Button ele="link" href="https://www.github.com/andrew-saeed/portfolio" style="primary-icon" size="small-icon" target="_blank" ariaLabel="Github"><Github /></Button> 
				</div>
			</footer>

		</div>

	</main>

	<NotificationModal slot="notification-modal" />

</Base>
