---
import TextInput from "../components/text-input.astro"
import TextArea from "../components/text-area.astro"
import Button from "../components/button.astro"
import FlyingPaper from "../icons/flying-paper.astro"
import Spinner from "../icons/spinner.astro"
---
<form x-data="dmForWork" @submit.prevent="submit" id="dm-for-work" action="#" novalidate class="w-full max-w-screen-sm mx-auto text-sm-1 space-y-2">

    <div>
        <TextInput id="subject" name="subject" placeholder="subject" />
    </div>
    <div>
        <TextInput type="email" id="email" name="email" placeholder="email" />
    </div>
    <div>
        <TextArea id="message" name="message" placeholder="message" />
    </div>
    <Button btnType="submit" style="primary-icon-text" size="large-icon-text" stretch={true}>
        <span class="icon" x-show="!sending">
            <FlyingPaper slot="icon" />
        </span>
        <span class="icon animate-spin" :class="{'loading': sending}" x-show="sending">
            <Spinner slot="icon" />
        </span>
        <span class="text" slot="text" x-text="sending ? 'sending' : 'send'"></span>
    </Button>
</form>