<style lang="scss" is:global>

    #main-nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        transition: opacity 1.5s ease-out, transform 0.3s ease-out;
        
        ul {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 1rem;

            li {
    
                a {
                    display: inline-block;
                    background-color: var(--white-light);
                    text-transform: capitalize;
                    padding: 0.5rem;
                    border: 0.1rem solid var(--black-light);
                    border-right: none;
                    transition: background-color 0.3s ease-out;

                    &[href='#dm'] {
                        text-transform: uppercase;
                    }
                }
    
                &:first-of-type {
                    
                    a {
                        border-radius: 25px 0 0 25px;
                    }
                }
    
                &:last-of-type {
    
                    a {
                        border: 0.1rem solid var(--black-light);
                        border-radius: 0 25px 25px 0;
                    }
                }
            }
    
            .currentBtn {
    
                a {
                    background-color: var(--black-light);
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }

</style>
<nav id="main-nav" x-data="MainNav">

    <ul>
        <li>
            <a href="#me" aria-label="me">me</a>
        </li>
        <li>
            <a href="#web-stack" aria-label="web-stack">web stack</a>
        </li>
        <li>
            <a href="#work" aria-label="work">work</a>
        </li>
        <li>
            <a href="#dm" aria-label="dm">dm</a>
        </li>
    </ul>
</nav>