---
---
<style lang="scss" is:global>

    #main-nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        transition: opacity 1.5s ease-out, transform 0.3s ease-out;
        
        ul {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 1rem;

            li {
    
                a {
                    display: inline-block;
                    background-color: var(--white-light);
                    text-transform: capitalize;
                    padding: 0.5rem;
                    border: 0.1rem solid var(--black-light);
                    border-right: none;
                    transition: background-color 0.3s ease-out;

                    &[href='#dm'] {
                        text-transform: uppercase;
                    }
                }
    
                &:first-of-type {
                    
                    a {
                        border-radius: 25px 0 0 25px;
                    }
                }
    
                &:last-of-type {
    
                    a {
                        border: 0.1rem solid var(--black-light);
                        border-radius: 0 25px 25px 0;
                    }
                }
            }
    
            .currentBtn {
    
                a {
                    background-color: var(--black-light);
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }

</style>
<script>
    import Alpine from 'alpinejs'
    import gsap from 'gsap'

    // Section me gsap-timeline
    const sectionMeTl = gsap.timeline()
    sectionMeTl.fromTo('#aspiring-web-developer', {opacity: 0, x: 100}, {opacity: 1, x: 0, duration: 0.6, ease: 'expo'})
    .fromTo('#passionate', {opacity: 0, x: 100}, {opacity: 1, x: 0, duration: 0.6, ease: 'expo'})
    .fromTo('#eager-to-leverage-skills', {opacity: 0, x: 100}, {opacity: 1, x: 0, duration: 0.6, ease: 'expo'})
    .fromTo('#download-resume', {opacity: 0, y: 100}, {opacity: 1, y: 0, duration: 0.6, ease: 'expo'})
    .pause()

    // Section web-stack gsap-timeline
    const sectionWebStackTl = gsap.timeline()
    sectionWebStackTl.fromTo('#astrobuild', {opacity: 0, y: -100, x: -200, rotateZ: -45}, {opacity: 1, y: 0, x: 0, rotateZ: 0, duration: 0.6, ease: 'expo'})
    .fromTo('#tailwindcss', {opacity: 0, y: -100, x: 200, rotateZ: 45}, {opacity: 1, y: 0, x: 0, rotateZ: 0, duration: 0.6, ease: 'expo'})
    .fromTo('#alpinejs', {opacity: 0, y: -100, x: -200, rotateZ: -45}, {opacity: 1, y: 0, x: 0, rotateZ: 0, duration: 0.6, ease: 'expo'})
    .fromTo('#chalimo', {opacity: 0, bottom: '100%', right: '-100%'}, {opacity: 1, bottom: '-20%', right: '40%', duration: 0.6, ease: 'expo'})
    .fromTo('#orange-slice', {opacity: 0, top: '-100%', left: '-40%'}, {opacity: 1, top: '-20%', left: '-5%', duration: 0.6, ease: 'expo'})
    .pause()

    // MainNav component
    Alpine.data('MainNav', () => ({
        init() {

            this.$el.querySelectorAll('li').forEach( li => {

                li.addEventListener('click', () => {
                    
                    this.$el.querySelector('.currentBtn')?.classList.remove('currentBtn')
                    li.classList.add('currentBtn')
                })
            })

            const observer = new IntersectionObserver(entries => {
                
                entries.forEach(entry => {
                    
                    if (entry.isIntersecting) {
                        
                        if(entry.target.id === 'top-main') {

                            this.$el.style.opacity = '0'
                            this.$el.style.transform = 'translateY(-100px)'
                        } else if(entry.target.id === 'me') {

                            this.$el.style.opacity = '1'
                            this.$el.style.transform = 'translateY(0)'
                            this.$el.querySelector('.currentBtn')?.classList.remove('currentBtn')
                            this.$el.querySelector('li:nth-child(1)')?.classList.add('currentBtn')
                            sectionMeTl.play()
                        } else if(entry.target.id === 'web-stack') {

                            this.$el.querySelector('.currentBtn')?.classList.remove('currentBtn')
                            this.$el.querySelector('li:nth-child(2)')?.classList.add('currentBtn')
                            sectionWebStackTl.play()
                        } else if(entry.target.id === 'work') {

                            this.$el.querySelector('.currentBtn')?.classList.remove('currentBtn')
                            this.$el.querySelector('li:nth-child(3)')?.classList.add('currentBtn')
                        } else if(entry.target.id === 'dm') {

                            this.$el.querySelector('.currentBtn')?.classList.remove('currentBtn')
                            this.$el.querySelector('li:nth-child(4)')?.classList.add('currentBtn')
                        }
                    }
                })
            }, {threshold: 0.9})

            const sections:HTMLElement[] = Array.from(document.querySelectorAll<HTMLElement>('section'))
            sections.forEach( section => observer.observe(section))
        }
    }))
</script>
<nav id="main-nav" x-data="MainNav">

    <ul>
        <li>
            <a href="#me" aria-label="me">me</a>
        </li>
        <li>
            <a href="#web-stack" aria-label="web-stack">web stack</a>
        </li>
        <li>
            <a href="#work" aria-label="work">work</a>
        </li>
        <li>
            <a href="#dm" aria-label="dm">dm</a>
        </li>
    </ul>
</nav>