---
import Gear from "../icons/gear.astro"
---

<div class="flex items-center">
    <p class="w-[2.5rem] h-[2.5rem] mr-2 [&_svg_path]:fill-black-light animate-spin"><Gear /></p>
    <p class="text-base-2 text-black-light font-bold capitalize">under construction ...</p>
</div>